.header {
  background-image: url("/assets/images/main-screen/Group\ 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
