.newsletter {
    background-image: url("/assets/images/newsletter/Rectangle\ 4.3.png");
    background-position: center;
    background-size: cover;
    height: auto;
  }

  .newsletter > *:nth-child(1){
    flex: 1 1 30%;
}
.newsletter > *:nth-child(2){
    flex: 1 1 70%;
}
