.system-requirements {
  background-image: url("/assets/images/system-requirements/Group\ 2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.table-title {
  font-size: 24px;
  color: #ffb548;
}

.table-desc {
  font-size: 18px;
}

table.table-bordered {
  border: 1px solid #9797977e;
}
table.table-bordered > thead > tr > th {
  border: 1px solid #9797977e;
}

table.table-bordered > tbody > tr > td {
  border: 1px solid #9797977e;
}
